<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>alTrace</string>
	<key>CFBundleExecutable</key>
	<string>altrace_wx</string>
	<key>CFBundleIconFile</key>
	<string>alTrace.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.icculus.altrace</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>alTrace</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleSignature</key>
	<string>ALtr</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>NSSupportsAutomaticGraphicsSwitching</key>
  <true/>
	<key>CFBundleDocumentTypes</key>
  <array>
    <dict>
     <key>CFBundleTypeExtensions</key>
     <array>
          <string>altrace</string>
     </array>
     <key>LSIsAppleDefaultForType</key>
     <true/>
     <key>LSTypeIsPackage</key>
     <false/>
     <key>CFBundleTypeName</key>
     <string>alTrace tracefile</string>
     <key>CFBundleTypeIconFile</key>
     <string>alTrace</string>
     <key>LSItemContentTypes</key>
     <array>
          <string>org.icculus.altrace.tracefile</string>
     </array>
     <key>CFBundleTypeRole</key>
     <string>Viewer</string>
     <key>NSDocumentClass</key>
     <string>AlTraceTracefileDocument</string>
    </dict>
  </array>
  <key>UTExportedTypeDeclarations</key>
  <array>
    <dict>
     <key>UTTypeIdentifier</key>
     <string>org.icculus.altrace.tracefile</string>
     <key>UTTypeConformsTo</key>
     <array>
          <string>public.data</string>
     </array>
     <key>UTTypeReferenceURL</key>
     <string>https://icculus.org/altrace/</string>
     <key>UTTypeTagSpecification</key>
     <dict>
          <key>public.filename-extension</key>
          <array>
               <string>altrace</string>
          </array>
     </dict>
    </dict>
  </array>
  <key>NSRequiresAquaSystemAppearance</key>
  <false/>
</dict>
</plist>
